.cont {
  background-image: url("../assets/Mask.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-heading {
  font-family: "Playfair Display", serif;
}

.contact-subtext {
  font-family: "Open Sans", sans-serif;
}

.cont-head {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 600px) {
    .conto{
        padding-left: 2rem;
        padding-right: 2rem;
    }

}